{% extends "model_page.html" %}

{% block content %}
    <h2>Agendamentos</h2>
    <a href="evento/" style="">Novo Evento</a>
    <ul style="font-size: 18px">
    {% for event in events %}
        <li>
            <div style={% if event.get_delayed_event %}color:red{% endif %}>
                {{ event.title }} - {{ event.get_create_date }}
                ( <a href="evento/?id={{event.id}}">Editar</a> | <a href="evento/delete/{{ event.id }}/">Deletar</a> )
            </div>
        </li>
    {% endfor %}
    </ul>
{% endblock %}